/* Header */
header{
    text-align:center;
    font-weight:semibold;
    color:#28262c;
    padding-top:8em;
    padding-bottom:8em;
}

h1 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

/* Shapes */
.shape:before,
.shape:after {
    content: "\2726";
    padding: .5em;
}

/* Page content */
body {
    margin: auto;
    font-family: Epilogue;
}

.content {
    margin: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    width: 95%;
    padding: 1em;
    box-sizing: border-box;
    background-color: white;
}

/* Bootstrap cards */
.card-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card-shadow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Headshot image */


/* Footnotes */
#small {
    font-size: 80%;
}

/* Custom back to top button */
#backToTop {
    display: none;
    position: fixed;
    font-weight: bold;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #28262c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
}

/* Footer */
footer {
    background-color: #8bcee0cc;
    color: #28262c;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 8em;
}